<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SwiftFristProject.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BFB745E51C997B4A00A58114</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BFB745F91C997B4A00A58114</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BFB746041C997B4B00A58114</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
